/*Material Design Icons set*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/material-design/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
/*Material Design Icons set*/


/* Rules for sizing the icon. */
.material-icons-md-18 { font-size: 18px; }
.material-icons-md-24 { font-size: 24px; }
.material-icons-md-36 { font-size: 36px; }
.material-icons-md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*Material Design Icons set*/

/*Mater Design Roboto font*/
@font-face {
  font-family: 'roboto_slabbold';
  src: url('../font/roboto/RobotoSlab-Bold-webfont.eot');
  src: url('../font/roboto/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/RobotoSlab-Bold-webfont.woff2') format('woff2'),
  url('../font/roboto/RobotoSlab-Bold-webfont.woff') format('woff'),
  url('../font/roboto/RobotoSlab-Bold-webfont.ttf') format('truetype'),
  url('../font/roboto/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_slablight';
  src: url('../font/roboto/RobotoSlab-Light-webfont.eot');
  src: url('../font/roboto/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/RobotoSlab-Light-webfont.woff2') format('woff2'),
  url('../font/roboto/RobotoSlab-Light-webfont.woff') format('woff'),
  url('../font/roboto/RobotoSlab-Light-webfont.ttf') format('truetype'),
  url('../font/roboto/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_slabregular';
  src: url('../font/roboto/RobotoSlab-Regular-webfont.eot');
  src: url('../font/roboto/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/RobotoSlab-Regular-webfont.woff2') format('woff2'),
  url('../font/roboto/RobotoSlab-Regular-webfont.woff') format('woff'),
  url('../font/roboto/RobotoSlab-Regular-webfont.ttf') format('truetype'),
  url('../font/roboto/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_slabthin';
  src: url('../font/roboto/RobotoSlab-Thin-webfont.eot');
  src: url('../font/roboto/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/RobotoSlab-Thin-webfont.woff2') format('woff2'),
  url('../font/roboto/RobotoSlab-Thin-webfont.woff') format('woff'),
  url('../font/roboto/RobotoSlab-Thin-webfont.ttf') format('truetype'),
  url('../font/roboto/RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../font/roboto/Roboto-Bold.eot');
  src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
  url('../font/roboto/Roboto-Bold.woff') format('woff'),
  url('../font/roboto/Roboto-Bold.ttf') format('truetype'),
  url('../font/roboto/Roboto-Bold-webfont.svg#roboto_bold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'roboto-Light';
  src: url('../font/roboto/Roboto-Light.eot');
  src: url('../font/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/Roboto-Light.woff2') format('woff2'),
  url('../font/roboto/Roboto-Light.woff') format('woff'),
  url('../font/roboto/Roboto-Light.ttf') format('truetype'),
  url('../font/roboto/Roboto-Light-webfont.svg#roboto_light') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto-Medium';
  src: url('../font/roboto/Roboto-Medium.eot');
  src: url('../font/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
  url('../font/roboto/Roboto-Medium.woff') format('woff'),
  url('../font/roboto/Roboto-Medium.ttf') format('truetype'),
  url('../font/roboto/Roboto-Medium-webfont.svg#roboto_medium') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'roboto-Thin';
  src: url('../font/roboto/Roboto-Thin.eot');
  src: url('../font/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto/Roboto-Thin.woff2') format('woff2'),
  url('../font/roboto/Roboto-Thin.woff') format('woff'),
  url('../font/roboto/Roboto-Thin.ttf') format('truetype'),
  url('../font/roboto/Roboto-Thin-webfont.svg#roboto_thin') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*Mater Design Roboto font*/

.title1 {
  font-family: 'roboto_slabbold';
}
.title2 {
  font-family: 'roboto_slablight';
}
.title3 {
  font-family: 'roboto_slabregular';
}
.title4 {
  font-family: 'roboto_slabthin';
}
.bold-title {
  font-family: roboto;
}
.normal-title2 {
  font-family: roboto-Medium;
}
.light-title {
  font-family: roboto-Light;
}
.thin-title {
  font-family: roboto-Thin;
  font-weight: normal;
}

.section-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}
.section-padding2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tick-blue-text {
  color: #0F3661 !important;
}

.pinky-text{
  color: #EE5556 !important;
}
.pinky-border{
  border-bottom: 5px solid;
  min-width: 8%;
  border-color: #EE5556 !important;
}

.pinky-border2{
  border-bottom: 1px solid;
  min-width: 50%;
  border-color: #EE5556 !important;
}

.tick-border2{
  border-bottom: 0.5px solid;
  min-width: 25%;
  border-color: #0F3661 !important;
}

.tick-border3{
  border-bottom: 0.5px solid;
  min-width: 25%;
  border-color: #EE5556 !important;
}
.list-group-item {

border-bottom-color: #0F3661 !important;
}
.font-weight-light {
  font-weight: lighter;
}

.pinky-button {
  background-color: #F25453 !important;
}

.default-bg-color{
  background-color: #0F3661 !important;
}

.testimonail {
  line-height: 1.8;
}
.avatar {
  height: 70px;
  width: 70px;
}

.default-text {
  color: #67657B !important;
}
.navbar-nav .active a {
  color: #EE5556 !important;
  background-color: transparent !important;
}

.nav-item a {
  color: #fff !important;
  font-weight: 390;
}
.navbar.scrolling-navbar.top-nav-collapse {
  background-color: #0F3661 !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
.industry-section {
  background: linear-gradient(rgba(15,54,97, 0.3), rgba(15,54,97, 0.3)),  url("../images/family-business-meeting-feature.jpg") no-repeat bottom center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.price-section {
  background: linear-gradient(rgba(15,54,97, 0.3), rgba(15,54,97, 0.3)),  url("../images/DSC_0463.JPG") no-repeat bottom center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-left-bg {
  background: linear-gradient(rgba(15,54,97, 0.1), rgba(15,54,97, 0.1)),  url("../images/contact.jpg") no-repeat bottom center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-right-bg {
  background: linear-gradient(rgba(15,54,97, 0.5), rgba(15,54,97, 0.8)),  url("../images/1474527068contact services centers.jpg") no-repeat bottom center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item-list {
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}

.item-list:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.item-list-mid {
  transform: scale(1.1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

p, h1 {
  margin: 0; padding: 0;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #0F3661;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #EE5556;
  font-weight: bold;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  /*mar*/
  border: none;
  border-bottom: 5px solid #0F3661;
}

.news-card img {
  filter: grayscale(100%);
}

.news-card:hover img {
  filter: none;
  -webkit-filter: none;
  filter: none;
  -webkit-transition: filter 1s ease-out;
  -moz-transition: filter 1s ease-out;
  -o-transition: filter 1s ease-out;
  transition: filter 1s ease-out;
}

.set-border {
  border-radius: 4px;
}
/*
input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #F25453 !important;
  border-bottom: 1px solid #F25453 !important;
}
input[type="email"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #F25453 !important;
  border-bottom: 1px solid #F25453 !important;
}*/

.md-form label {
  position: absolute;
  top: .65rem;
  left: 0;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: text;
  color: #F25453;
}

.carousel-item .header-form input[type="text"] {
  /*color: red !important;*/
  font-weight: normal;
  background: transparent;
  border: none;
  color: #fff;
}

.carousel-item .header-form input[type="text"]:focus {
  /*color: red !important;*/
  box-shadow: none;
  color: #fff;
  border: none;
}

.carousel-item .header-form button {
  margin-top: -3px;
}
.header-form {
  height: 60px;
  padding-top: 10px;
  border-radius: 30px;
}
/*.form-control {
  color: #F25453;
}

.form-control:focus {
  color: #fff;
}*/

.filter-text input[type="text"] {
  height: 50px;
  border-radius: 1px;
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  transition: all .55s ease-in-out;
  color: #000;
}

.filter-text input[type="text"]:focus {
  -webkit-box-shadow: 0 4px 5px 0 rgba(15,54,97, .3), 0 3px 5px 0 rgba(15,54,97, .3);
  box-shadow: 0 4px 5px 0 rgba(15,54,97, .3), 0 3px 5px 0 rgba(15,54,97, .3);
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  transition: all .55s ease-in-out;
  border-color: #0F3661;
  color: #000;
}

.custom-select {
  height: 50px;
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  border-radius: 1px;
  transition: all .55s ease-in-out;
}

.custom-select:focus {
  border-color: #0F3661;
  -webkit-box-shadow: 0 4px 5px 0 rgba(15,54,97, .3), 0 3px 5px 0 rgba(15,54,97, .3);
  box-shadow: 0 4px 5px 0 rgba(15,54,97, .3), 0 3px 5px 0 rgba(15,54,97, .3);
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  transition: all .55s ease-in-out;
}

.overlap {
  margin-top: 0;
}

.card-text {
  color: #0F3661 !important;
  font-weight: 350 !important;
}

.blockquote-footer {
  color: #0F3661 !important;
  font-weight: 300 !important;
}

.l-height {
  line-height: 1.7;
}

input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #F25453 !important;
  border-bottom: 1px solid #0F3661 !important;
}
input[type="email"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #F25453 !important;
  border-bottom: 1px solid #0F3661 !important;
}

.md-form label {
  position: absolute;
  top: .65rem;
  left: 0;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: text;
  color: #F25453;
}

.md-form label.active {
  color: #0F3661 !important;
}
.form-control {
  color: #0F3661;
}

.form-control:focus {
  color: #0F3661;
}

.md-form {
  margin-top: 0.6rem;
}